WSDL.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="WSDLCalculadora"
    targetNamespace="http://localhost/ServidorSoap"
    xmlns:tns="http://localhost/ServidorSoap"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
>
    
    
    <message name="sumaRequest">
        <part name="a" type="xsd:float"/>
        <part name="b" type="xsd:float"/>
    </message>
    <message name="sumaResponse">
        <part name="resultado" type="xsd:float"/>
    </message>
    
    <message name="restaRequest">
        <part name="a" type="xsd:float"/>
        <part name="b" type="xsd:float"/>
    </message>
    <message name="restaResponse">
        <part name="resultado" type="xsd:float"/>
    </message>
    
    <message name="multiplicacionRequest">
        <part name="a" type="xsd:float"/>
        <part name="b" type="xsd:float"/>
    </message>
    <message name="multiplicacionResponse">
        <part name="resultado" type="xsd:float"/>
    </message>
    
    
   

    <portType name="CalculadoraPortType">
        <operation name="suma">
            <input message="tns:sumaRequest"/>
            <output message="tns:sumaResponse"/>
        </operation>
        
        <operation name="resta">
            <input message="tns:restaRequest"/>
            <output message="tns:restaResponse"/>
        </operation>
        
        <operation name="multiplicacion">
            <input message="tns:multiplicacionRequest"/>
            <output message="tns:multiplicacionResponse"/>
        </operation>
        
       
    </portType>
 
    <binding name="CalculadoraBinding" type="tns:CalculadoraPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="suma">
            <soap:operation
                soapAction="http://localhost/ServidorSoap/index.php?method=suma"
            />
            <input>
                <soap:body
                    namespace="http://localhost/ServidorSoap"
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                />
            </input>
            <output>
                <soap:body
                    namespace="http://localhost/ServidorSoap"
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                />
            </output>
        </operation>
        
        <operation name="resta">
            <soap:operation
                soapAction="http://localhost/ServidorSoap/index.php?method=resta"
            />
            <input>
                <soap:body
                    namespace="http://localhost/ServidorSoap"
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                />
            </input>
            <output>
                <soap:body
                    namespace="http://localhost/ServidorSoap"
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                />
            </output>
        </operation>
        
        
        <operation name="multiplicacion">
            <soap:operation
                soapAction="http://localhost/ServidorSoap/index.php?method=multiplicacion"
            />
            <input>
                <soap:body
                    namespace="http://localhost/ServidorSoap"
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                />
            </input>
            <output>
                <soap:body
                    namespace="http://localhost/ServidorSoap"
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                />
            </output>
        </operation>
        
        
       
    </binding>
    
    
    <service name="Calculadora">
        <port name="CalculadoraPort" binding="tns:CalculadoraBinding">
            <soap:address location="http://localhost/ServidorSoap/index.php"/>
        </port>
    </service>

</definitions>